<div class="page-heading">
    <h1>Contact Us</h1>
</div>

<div class="contact-us-container page-center">
    <div class="flex-item">
        <div class="contact-info">
            <h3>Name : </h3>
            <p>Amitav Saikia</p>
            <br>
            <br>
            <h3>E-Mail : </h3>
            <p>sales.saikia&#64;gmail.com</p>
            <p>amitav.saikia&#64;sai-kia.com</p>
            <br>
            <br>
            <h3>Mobile No : </h3>
            <p>+91-9958452446</p>
            <br>
            <br>
            <h3>Address : </h3>
            <p>Rolif Saikia Private Limited, 143, A-Block, Logix Technova, Sector-132, NOIDA, U.P.</p>
        </div>
    </div>
    <div class=" flex-item">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3508.525630322754!2d77.50384035030652!3d28.433567282410795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cc1b015f5244f%3A0x48583c2888576094!2sNimbus+Express+Park+view%2C+Taj+Express+Highway%2C+Chi+V%2C+Greater+Noida%2C+Uttar+Pradesh+201310!5e0!3m2!1sen!2sin!4v1503841150957"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>