<section class="bg-img-section" [class]="bgImageClassName">
    <div class="page-center">
        <div class="img-content">
            <div class="header-info">
                <h1>{{headerAndInfo.header}}</h1>
                <p>{{headerAndInfo.headerExplanationPara}} </p>
            </div>
            <div class="button-area">
                <div class="primary-btn">ENQUIRY</div>
                <div *ngIf="headerAndInfo.showWatchVideoButton" class="watch-video-btn">WATCH VIDEO</div>
            </div>
        </div>
    </div>

    <!-- <ng-container *ngTemplateOutlet="infoSectionContainer"></ng-container> -->
</section>