<footer class="bg-dark-blue">
    <div class="container">
        <div class="footer-head">
            <div class="saikia-logo-container">
                <div class="saikia-logo"></div>
            </div>
            <!-- <div class="social-media"> -->
            <!-- <div style="padding-right: 25px;">Follow Us:</div>
                <div class="icons">
                    <div class="facebook-logo"></div>
                </div>
                <div class="icons">
                    <div class="instagram-logo"></div>
                </div>
                <div *ngIf="false" class="icons">
                    <div class="youtube-logo"></div>
                </div>
                <div class="icons">
                    <div class="linkedin-logo"></div>
                </div> -->
            <!-- </div> -->
        </div>
        <!-- <div class="footer-body">
            <ul class="footer-body-lists" *ngFor="let footer of allFootersData">
                <div class="footer-body-heading"><span>{{footer.footerHeading}}</span></div>
                <li class="footer-body-item" *ngFor="let subFooter of footer.subFooters">
                    <span>{{subFooter}}</span>
                </li>
            </ul>
        </div>
        <div class="footer-tail">
            <div class="footer-tail-head-child">
                <span>Saikia Subdiary Brands</span>
            </div>
        </div> -->
        <div class="container-policy">
            <div class="copyright">
                Copyright &copy; 2023 Saikia Technology Solutions
                <!-- <span>Yue ICP Ref.2022123120</span> -->
            </div>
            <!-- <div class="policies">
                <a>Terms of Use</a>
                <a>Legal Notice</a>
                <a>Privacy Policy</a>
                <a>Cookie Policy</a>
            </div> -->
        </div>
    </div>
</footer>