<app-sub-header-page-image-container [bgImageClassName]="'tetra-radio-bg-img'"
    [headerAndInfo]="imageContent"></app-sub-header-page-image-container>

<div class="page-center">
    <app-header-and-text [headerAndInfo]="textContent0"></app-header-and-text>
    <app-left-image-right-text [bgImageClassName]="'tetra-radio-img-1'" [headerAndInfo]="textContent1">
    </app-left-image-right-text>
    <app-right-image-left-text [bgImageClassName]="'tetra-radio-img-2'" [headerAndInfo]="textContent2">
    </app-right-image-left-text>
    <app-left-image-right-text [bgImageClassName]="'tetra-radio-img-3'" [headerAndInfo]="textContent3">
    </app-left-image-right-text>
</div>