<div class="home">
    <section class="bg-image">
        <div class="disaster-img"></div>
    </section>
    <section class="latest-products">
        <div class="latest-products-item-1">
            <div class="item-content">
                <span class="latest-products-item-modelname">PT590</span>
                <span class="latest-products-item-name">Mission Critical TETRA Portable Radio</span>
                <div class="hyperlink">Learn More</div>
            </div>
        </div>
        <div class="latest-products-item-2">
            <div class="item-content">
                <span class="latest-products-item-modelname">PNC460</span>
                <span class="latest-products-item-name">XRugged Smart Device</span>
                <div class="hyperlink">Learn More</div>
            </div>
        </div>
    </section>
    <section class="explore page-center">
        <h1 class="sub-page-internal-heading">Explore Saikia Industry Solutions</h1>
        <div class="various-sectors-container">
            <div class="item bg-1">
                <h2>Public Safety</h2>
            </div>
            <div class="item bg-2">
                <h2>Fire and Emergency</h2>
            </div>
            <div class="item bg-3">
                <h2>Oil and Gas</h2>
            </div>
            <div class="item bg-4">
                <h2>Business and Enterprise</h2>
            </div>
        </div>
    </section>
</div>