@import "../../../assets/css/variable.scss";

.home {
  .bg-image {
    height: 617px;
    background-image: url(../../../assets//image/disaster.jpg);

    .disaster-img {
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: auto;
    }
  }

  .latest-products {
    padding: 15px 15px 0;
    background-color: $project-white;
    height: 700px;
    width: 100%;
    display: flex;
    gap: 15px;

    .latest-products-item-1 {
      background-image: url(../../../assets/image/jet-plane.jpg);
      background-size: cover;
      background-repeat: no-repeat;

      width: 100%;
      height: 100%;

      cursor: pointer;
    }

    .latest-products-item-2 {
      background-image: url(../../../assets/image/smart-city.jpg);
      background-size: cover;
      background-repeat: no-repeat;

      width: 100%;
      height: 100%;

      cursor: pointer;
    }

    .item-content {
      padding-top: 6.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      color: #272727;

      .latest-products-item-modelname {
        font-size: 3rem;
        font-weight: bold;
      }

      .latest-products-item-name {
        font-size: 2rem;
        font-weight: 600;
        margin-top: 1rem;
      }

      .hyperlink {
        margin-top: 3rem;
        font-size: 20px;

        // Change it to pointer
        cursor: default;
      }

      .hyperlink:hover {
        text-decoration: underline;
      }
    }
  }

  .explore {
    padding: 80px 0;

    .sub-page-internal-heading {
      text-align: center;
    }

    .various-sectors-container {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;

      .item {
        position: relative;
        width: calc(25% - 12px);
        height: 500px;
        overflow: hidden;
        cursor: pointer;
        z-index: 0;

        display: flex;
        justify-content: center;

        h2 {
          color: #fff;
          padding-top: 40px;
        }
      }

      .bg-1 {
        background-image: url(../../../assets/image/home-industry-solution-01.png);
      }

      .bg-2 {
        background-image: url(../../../assets/image/home-industry-solution-02.png);
      }

      .bg-3 {
        background-image: url(../../../assets/image/home-industry-solution-03.png);
      }

      .bg-4 {
        background-image: url(../../../assets/image/home-industry-solution-04.png);
      }
    }
  }
}
