.dmr-two-way-radios-img-2 {
  background-image: url("../../../../assets/image/HP780_02.jpg");
  width: 575px;
  height: 550px;
}

.dmr-repeaters-img-2 {
  background-image: url("../../../../assets/image/xpt-extended.jpg");
  width: 575px;
  height: 550px;
}

.tetra-radio-img-2 {
  background-image: url("../../../../assets/image/tetra-radio-2.png");
  width: 575px;
  height: 550px;
}

.tetra-systems-img-2 {
  background-image: url("../../../../assets/image/tetra-systems-2.png");
  width: 575px;
  height: 550px;
}

.tetra-systems-img-4 {
  background-image: url("../../../../assets/image/tetra-systems-4.png");
  width: 575px;
  height: 550px;
}

.intrinsically-img-2 {
  background-image: url("../../../../assets/image/intrinsically-2.jpg");
  width: 575px;
  height: 550px;
}

.intrinsically-img-5 {
  background-image: url("../../../../assets/image/intrinsically-5.jpg");
  width: 575px;
  height: 550px;
}
