.dmr-two-way-radios-img-1 {
  background-image: url("../../../../assets/image/HP780_1.jpg");
  width: 575px;
  height: 550px;
}

.dmr-repeaters-img-1 {
  background-image: url("../../../../assets/image/dmr-tier-III.jpg");
  width: 575px;
  height: 550px;
}

.analogue-radio-img-1 {
  background-image: url("../../../../assets/image/analogue-radio-img-1.jpg");
  width: 575px;
  height: 550px;
}

.tetra-radio-img-1 {
  background-image: url("../../../../assets/image/tetra-radio-1.png");
  width: 575px;
  height: 550px;
}

.tetra-radio-img-3 {
  background-image: url("../../../../assets/image/tetra-radio-3.png");
  width: 575px;
  height: 550px;
}

.tetra-systems-img-1 {
  background-image: url("../../../../assets/image/tetra-systems-1.png");
  width: 575px;
  height: 550px;
}

.tetra-systems-img-3 {
  background-image: url("../../../../assets/image/tetra-systems-3.png");
  width: 575px;
  height: 550px;
}

.intrinsically-img-1 {
  background-image: url("../../../../assets/image/intrinsically-1.jpg");
  width: 575px;
  height: 550px;
}

.intrinsically-img-3 {
  background-image: url("../../../../assets/image/intrinsically-3.jpg");
  width: 575px;
  height: 550px;
}

.intrinsically-img-4 {
  background-image: url("../../../../assets/image/intrinsically-4.jpg");
  width: 575px;
  height: 550px;
}

.intrinsically-img-6 {
  background-image: url("../../../../assets/image/intrinsically-6.jpg");
  width: 575px;
  height: 550px;
}
