<app-sub-header-page-image-container [bgImageClassName]="'dmr-two-way-radios-bg-img'"
    [headerAndInfo]="imageContent"></app-sub-header-page-image-container>

<div class="page-center">

    <app-header-and-text [headerAndInfo]="textContent0"></app-header-and-text>

    <app-left-image-right-text [bgImageClassName]="'dmr-two-way-radios-img-1'" [headerAndInfo]="textContent1">
    </app-left-image-right-text>

    <app-right-image-left-text [bgImageClassName]="'dmr-two-way-radios-img-2'"
        [headerAndInfo]="textContent2"></app-right-image-left-text>


</div>